.authors {
  text-align: center;
  /* centers author names */
  font-size: 1.2em;
  /* slightly larger than normal text */
  margin-bottom: 0.3em;
}

.affiliations {
  text-align: center;
  /* centers affiliations */
  font-size: 1em;
  color: #444;
  margin-bottom: 0.2em;
}

.footnotes {
  text-align: center;
  /* centers footnotes */
  font-size: 0.85em;
  /* smaller than authors */
  color: #666;
}

body {
  font-family: 'Georgia', serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 2rem;
  color: #333;
  display: flex;
}

.sidebar {
  /* max-width: 33vh; */
  max-width: 240px;
  margin: auto;
  max-height: 98vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  padding: 10px;
  /* height: 100vh; */
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-left: 270px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}

.sidebar a.level-1 {
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
}

.sidebar a.level-2 {
  font-weight: normal;
  padding-left: 30px;
  font-size: 12px;
  color: #555;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.2em;
  text-align: center;
}

.author {
  font-size: 1em;
  color: #555;
  margin-bottom: 2em;
  text-align: center;
}

.section {
  margin-bottom: 2em;
}

.section h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #004080;
}

.section h3 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
  color: #006699;
  font-weight: 500;
}

.section p {
  line-height: 1.6;
  text-align: justify;
}

.section video {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

video {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-item img,
.media-item video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.label {
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}